<div class="container">
  <div class="jumbotron text-center">
    <h1 class="text-center">Search for Trails:</h1>
    <%= render 'search_trails' %>
  </div>

  <% unless @response.nil? %>
    <hr />
    <% @response["places"].each do |place| %>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Trail Name: <%= place["name"] %></h3></div>
        <div class="panel-body">
          <h4>Location:</h4>
          <p><%= city(place) %>, <%= place["state"] %></p>
          <% unless place["directions"].nil? %>
            <h4>Directions:</h4>
            <p><%= place["directions"].gsub("&quot;", "") %></p>
          <% end %>
          <% if place["activities"].blank? %>
            <%= render 'folio_selector_activity_blank' %>
          <% else %>
            <h4>Activities:</h4>
            <% place["activities"].each do |activity| %>
              <ul>
                <li><%= activity["activity_type_name"].capitalize %></li>
                <li><%= activity["description"].gsub("&quot;", '"') %></li>
              </ul>              
              <div class="text-center">
                <%= render 'folio_selector', place: place, activity: activity %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
