<% provide(:title, "All Folios") %>

<div class="container">
  <h1 class="text-center">All Folios</h1>
  <p class="text-center">
    <%= link_to 'Create New Folio', new_folio_path, class: "btn btn-default" %>
  </p>
  <table class="table table-bordered table-striped">
    <tr>
      <th colspan="4">Title</th>
    </tr>
   
    <% @folios.each do |folio| %>
      <tr>
        <td><%= folio.title %></td>
        <td class="button-cell text-center"><%= link_to 'Show', folio_path(folio), 
                                    class: "" %></td>
        <td class="button-cell text-center"><%= link_to 'Edit', edit_folio_path(folio), 
                                    class: "" %></td>
        <td class="button-cell text-center"><%= link_to 'Delete', folio_path(folio),
                   method: :delete, data: { confirm: 'Are you sure?' }, 
                                    class: "" %></td>
      </tr>
    <% end %>
  </table>
</div>